<!DOCTYPE html>
<html lang="zh-cn-Hans">

<head>
    <title>关于</title>
    <meta name="keywords" content="golang,go-micro,博客,管理后台">
    <meta name="description" content="golang,go-micro,博客,管理后台">
    {{template "./layout-head.html" .}}
</head>

<body>

<div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    {{template "./layout-menu.html"}}
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="overflow-y: auto;">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md9">
                    beego 是一个快速开发 Go 应用的 HTTP 框架，他可以用来快速开发 API、Web 及后端服务等各种应用，是一个 RESTful 的框架，主要设计灵感来源于 tornado、sinatra 和 flask
                    这三个框架，但是结合了 Go 本身的一些特性（interface、struct 嵌入等）而设计的一个框架。
                </div>
            </div>
        </div>
    </div>
    <footer>
        {{template "./layout-footer.html"}}
    </footer>
</div>
<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;

    });
</script>
</body>

</html>