<!DOCTYPE html>
<html lang="zh">
<head>
  <title>{{.article.Title}}</title>
  {{template "./layout-head.html" .}}
  <link rel="stylesheet" href="/static/plugins/highlight/styles/dark.css" />
</head>

<body>
  <header>
    {{template "./layout-menu.html"}}
  </header>
  <article>
    <section>
      <div class="title-header">
        <h1 class="title-info">{{.article.Title}}</h1>
        <span>（{{.article.UpdatedAt}}）</span>
      </div>
      <div class="description">
        {{str2html .article.Content}}
      </div>
    </section>
  </article>
  <footer>
    {{template "./layout-footer.html"}}
  </footer>
  <script src="/static/plugins/highlight/highlight.pack.js"></script>
  <script type="text/javascript">
      hljs.initHighlightingOnLoad();//代码高亮
  </script>
</body>

</html>