<!DOCTYPE html>
<html lang="cmn-Hans">

<head>
    <title>目录-月盾的网站</title>
    <meta name="keywords" content="golang,go-micro,博客,管理后台">
    <meta name="description" content="golang,go-micro,博客,管理后台">
    {{template "./layout-head.html" .}}
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!-- 顶部栏 -->
        {{template "./layout-menu.html"}}
        <!-- 顶部栏 -->
        <!-- 中间内容区 -->
        <div class="catalog-page width-visual">
            <div class="layui-container page-container">
                <header class="page-header">
                    <strong class="catalog-count">共发布{{.count}}篇文章</strong>
                </header>
                <section>
                    <ul class="layui-timeline">
                        {{range $index, $item := .titles}}
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                            <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title"><a href="/article/{{$item.Id}}">{{$item.Title}}</a></h3>
                                <p>创建于：{{$item.CreatedAt}} 更新于：{{$item.UpdatedAt}}</p>
                            </div>
                        </li>
                        {{end}}
                    </ul>
                </section>
            </div>
        </div>
        <footer>
            {{template "./layout-footer.html"}}
        </footer>
    </div>
    <script>
        layui.use(['jquery'], function () {
            var $ = layui.jquery;

        });
    </script>
</body>

</html>