<!DOCTYPE html>

<html lang="zh">
<head>
    <title>golang目录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="baidu-site-verification" content="vmcqCp75fz" />
    <link rel="shortcut icon" href="/static/dist/img/avatar.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>

<body>
<header>
    <header>
    {{template "./layout-menu.html"}}
    </header>
</header>
<article class="category-body">
    <section>
        <h2 class="title">分享开发经验</h2>
        <div class="content">
            <p>分享您已经使用基于 beego 完成的惊人作品能够很好的帮助他人理解 beego 的价值。如果您有意愿分享 beego 的开发故事，我们将乐意为您广而告之。
                公司内的技术分享，可以通过微博(#beego, @beego)来通知我们，或者也可以将您的建议或相关会议告知我们，让我们知道您是如何使用 beego 的。
                如果您正在构建基于 beego 的实际应用，我们将非常乐意地为您传播。
                您也可以写一个有关 beego 的开发教程。</p>
        </div>
    </section>
    <section>
        <h2 class="title">贡献社区代码</h2>
        <div class="content"><p>分享您已经使用基于 beego 完成的惊人作品能够很好的帮助他人理解 beego 的价值。如果您有意愿分享 beego 的开发故事，我们将乐意为您广而告之。

            公司内的技术分享，可以通过微博(#beego, @beego)来通知我们，或者也可以将您的建议或相关会议告知我们，让我们知道您是如何使用 beego 的。
            如果您正在构建基于 beego 的实际应用，我们将非常乐意地为您传播。
            您也可以写一个有关 beego 的开发教程。</p></div>
    </section>
    <section>
        <h2 class="title">参与社区讨论</h2>
        <div class="content"><p>分享您已经使用基于 beego 完成的惊人作品能够很好的帮助他人理解 beego 的价值。如果您有意愿分享 beego 的开发故事，我们将乐意为您广而告之。

            公司内的技术分享，可以通过微博(#beego, @beego)来通知我们，或者也可以将您的建议或相关会议告知我们，让我们知道您是如何使用 beego 的。
            如果您正在构建基于 beego 的实际应用，我们将非常乐意地为您传播。
            您也可以写一个有关 beego 的开发教程。</p></div>
    </section>
</article>
<footer>
{{template "./layout-footer.html"}}
</footer>
</body>
</html>
