<!DOCTYPE html>

<html lang="zh">
<head>
    <title>golang目录</title>
    {{template "./layout-head.html" .}}
</head>

<body>
<header>
    <header>
    {{template "./layout-menu.html"}}
    </header>
</header>
<article class="category-body">
    {{range $index, $item := .titles}}
    <section>
        <h2 class="title"><a href="/article/{{$item.Id}}">{{$item.Title}}</a></h2>
        <span>{{$item.UpdatedAt}}</span>
    </section>
    {{end}}
</article>
<footer>
{{template "./layout-footer.html"}}
</footer>
</body>
</html>
