<!DOCTYPE html>
<html lang="zh-cn-Hans">

<head>
    <title>golang</title>
    {{template "./layout-head.html" .}}
    <link rel="stylesheet" href="/static/plugins/highlight/styles/dark.css" />
</head>

<body>

<div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    {{template "./layout-menu.html"}}
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="padding: 15px; overflow-y: auto;">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md8 layui-col-md-offset1">
                    {{range $index, $elem := .articleList}}
                    <article class="article">
                        <header>
                            <p><b><a href="/article/{{$elem.Id}}">{{$elem.Title}}</a></b></p>
                            <time class="time-text">{{$elem.UpdatedAt}}</time>
                        </header>
                        <section>
                            <p>{{str2html $elem.Content}}</p>
                            <p>
                                {{str2html $elem.Img}}
                            </p>
                        </section>
                    </article>
                    {{end}}
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        {{template "./layout-footer.html"}}
    </footer>
</div>
    <script>
        layui.use(['jquery', 'laypage'], function () {
            var laypage = layui.laypage;

            var current = '{{.pageNo}}';
            var pageSize = '{{.pageSize}}';
            var total = '{{.total}}';
            //执行一个laypage实例
            laypage.render({
                elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
                , limit: pageSize
                , curr: parseInt(current)
                , count: total //数据总数，从服务端得到
                , hash: true
                , jump: function(obj, first){
                    if(!first){
                        location.href = '/?pageNo='+obj.curr+'&pageSize='+pageSize;
                    }
                }
            });
        });
    </script>
</body>

</html>