<!DOCTYPE html>
<html lang="zh-cn-Hans">

<head>
    <title>golang</title>
    {{template "./layout-head.html" .}}
    <link rel="stylesheet" href="/static/plugins/highlight/styles/dark.css" />
</head>

<body>

<div class="layui-layout layui-layout-admin">
    <!-- 顶部栏 -->
    {{template "./layout-menu.html"}}
    <!-- 顶部栏 -->
    <!-- 中间内容区 -->
    <div style="padding: 15px; overflow-y: auto;">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md8 layui-col-md-offset1">
                    {{range $index, $elem := .articleList}}
                    <article class="article">
                        <header>
                            <p><b><a href="/article/{{$elem.Id}}">{{$elem.Title}}</a></b></p>
                            <time class="time-text">{{$elem.UpdatedAt}}</time>
                        </header>
                        <section>
                            <p>{{str2html $elem.Content}}</p>
                            <p>
                                <img src="{{str2html $elem.Img}}"></img>
                            </p>
                        </section>
                    </article>
                    {{end}}
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        layui.use(['jquery', 'layer', 'form', 'laypage'], function () {
            var $ = layui.jquery,
                laypage = layui.laypage;

            var next = parseInt('<%=currentIndex%>')+1;
            var prev = parseInt('<%=currentIndex%>')-1;
            //执行一个laypage实例
            laypage.render({
                elem: 'page' //注意，这里的 test1 是 ID，不用加 # 号
                , limit: 5
                , curr: '<%=currentIndex%>'
                , count: '<%=total%>' //数据总数，从服务端得到
                , hash: true
                , jump: function(obj, first){
                    //首次不执行
                    if(!first){
                        location.href = '/platform/assistance-list?pageIndex='+obj.curr;
                    }
                }
            });
        });
    </script>
</body>

</html>