<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<meta name="baidu-site-verification" content="vmcqCp75fz" />
<link rel="shortcut icon" href="/static/dist/img/avatar.png" type="image/x-icon" />
<link rel="stylesheet" href="/static/bower_components/layui/css/layui.css">
<!-- 自定义样式在框架样式之后，用于覆盖框架样式 -->
<link rel="stylesheet" href="/static/css/style.css" />
<script src="/static/bower_components/layui/layui.js"></script>
{{if eq .env "prod"}}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?89a32d0a9497ae7d75c15ffeabfb7a46";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{{end}}
<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;
        window.onscroll = function () {
            if ($(document).scrollTop() > 0) {
                //$("#pf_nav").show();   
                $(".nav").css('position', 'fixed').css('top', '0').css('width', '100%');
            } else {
                //$("#pf_nav").hide();   
                $(".nav").css('position', '');
            }
        }
    })
</script>