<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<meta name="baidu-site-verification" content="vmcqCp75fz" />
<link rel="shortcut icon" href="/static/dist/img/avatar.png" type="image/x-icon" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/bower_components/layui/css/layui.css">
<script src="/static/bower_components/layui/layui.js"></script>
{{if eq .env "prod"}}
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?33e46fa33fe7baa55c00e78c60dbc83c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
{{end}}