*,
body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #f7f7f7;
}
nav {
    padding: 30px 0;
}
nav ul {
    display: block;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #efefef;
    line-height: 50px;
}
nav ul li {
    display: inline;
}
article,
footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    line-height: 1.8;
    text-align: center;
    padding: 50px 0;
    color: #999;
}
.description {
    font-size: 16px;
}
.description .imgdiv{
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}
.description p{
    padding: 10px;
}
.description img {
    max-width: 100%;
}
a {
    color: #572C82;
    text-decoration: none;
}
a:hover{
    text-decoration-line: underline;
}
.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
.category-body{
    width: 960px;
    border-left: 1px solid #333;
    margin: 30px auto;
    padding: 0 50px;
}
article section {
    padding: 20px 23px;
    border-bottom: 1px solid #dae1e4;
}

article section .title-header{
    text-align: center;
    font-size: 24px;
    /*line-height: 25px;*/
    margin-bottom: 10px;
}
.title-header span{
    font-size: small;
    color: #6e7373;
}
/*分页*/
.pagination{text-align: center; margin-top: 40px; margin-bottom: 25px;}
.pagination a {
    text-decoration: none;
    border: 1px solid #AAE;
}
.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
    margin-bottom: 5px;
}
.pagination .current {
    background: #572C82;
    color: #fff;
    border: 1px solid #AAE;
}
.pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}
/*表格样式*/
table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
}

table th {
    font-weight: bold;
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

/* 中等屏幕（桌面显示器，平板电脑，大于等于 992px） */
@media screen and (min-width: 768px) and (max-width: 992px) {

}
/* 小屏幕（平板，大于等于 768px） */
@media screen and (max-width:768px) { 
    article, footer{
        width:100%
    }
}