*,
body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 16px;
    line-height: 20px;
    background-color: #f7f7f7;
}
.layui-container a {
    color: #572C82!important;
    text-decoration: none!important;
}
a:hover{
    text-decoration-line: underline;
}
/*表格样式*/
table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
}

table th {
    font-weight: bold;
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.system-description{
    min-height: 160px;
    text-align: center;
    padding: 0 140px;
}
.system-description p{
    font-size: 24px;
}

.article{
    border-color: #e2e2e2;
    border-style: solid;
    border-width: 1px;
    background: 0 0;
    margin: 10px;
    padding: 10px;
}
.article section {
    font-size: 16px;
}
.article ul li{
    display: inline-block;
    width: 22%;
    border-left: bisque solid 1px;
    padding: 0 5px;
    border-right: bisque solid 1px;
}
.article ul li a{
    display: block;
    text-align: center;
}
.article section img{
    width: 49%;
    height: auto;
}
.time-text{
    color: #c2c2c2;
    font-size: 10px;
}
a i{
    color: #FF5722;
}

article section {
    padding: 20px 23px;
    border-bottom: 1px solid #dae1e4;
}

article section .title-header{
    text-align: center;
    font-size: 24px;
    /*line-height: 25px;*/
    margin-bottom: 10px;
}
.title-header span{
    font-size: small;
    color: #6e7373;
}
.description {
    line-height: 1.8;
    font-size: 16px;
}

.description p{
    padding: 10px;
}
.description img {
    max-width: 100%;
}
.my-container{
    padding-top: 20px;
    padding-bottom: 20px;
}