<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="//hopefully-img.yuedun.wang/FhVgrAON10Nk97pm8lj1X-2Gt28n" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{.username}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="/admin/page/">
          <i class="fa fa-globe"></i> <span>首页</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-file-word-o"></i>
          <span>文章管理</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/page/article-add"><i class="fa fa-circle-o text-aqua"></i>新建文章</a></li>
          <li><a href="/admin/page/article-list"><i class="fa fa-circle-o text-aqua"></i>文章列表</a></li>
          <li><a href="/admin/page/category-list"><i class="fa fa-circle-o text-aqua"></i>分类管理</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>用户管理</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/page/user-add"><i class="fa fa-circle-o text-aqua"></i>添加用户</a></li>
          <li><a href="/admin/page/user-list"><i class="fa fa-circle-o text-aqua"></i>用户列表</a></li>
        </ul>
      </li>
      <li>
        <a href="/admin/page/roles">
          <i class="fa fa-road"></i> <span>角色管理</span>
        </a>
      </li>
      <li>
        <a href="/admin/page/movies">
          <i class="fa fa-file-movie-o"></i> <span>免费看电影</span>
        </a>
      </li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-file-image-o"></i>
          <span>图片工具</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/page/icons"><i class="fa fa-circle-o text-aqua"></i>icon列表</a></li>
          <li><a href="/admin/page/picture"><i class="fa fa-circle-o text-aqua"></i>检索图片</a></li>
          <li><a href="/admin/page/picture-list"><i class="fa fa-circle-o text-aqua"></i>图片列表</a></li>
        </ul>
      </li> -->
      <li>
        <a href="/admin/page/job-count">
          <i class="fa fa-dashboard"></i> <span>工作数量统计</span>
          <span class="pull-right-container"><small class="label pull-right bg-green">0</small></span>
        </a>
      </li>
      <li>
        <a href="/admin/page/messages">
          <i class="fa fa-commenting"></i> <span>留言</span>
        </a>
      <li>
        <a href="/admin/page/logs">
          <i class="fa fa-list-alt"></i> <span>登录日志</span>
        </a>
      </li>
      <li>
        <a href="/admin/page/system-info">
          <i class="fa fa-dashboard"></i> <span>系统信息</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>